
.dropdown{
    width: 100px;
}
button{
    padding:5px;
    font-size: large;
    color:white;
    background-color: rgb(66, 11, 219);
}
.options{
   
   display: none;
   flex-direction: column;
  
   text-align: center;
   background-color: rgb(13, 5, 46);
   

}
.options a{
    background-color: rgb(174, 206, 216);
    color: black;
    font-family: monospace;
    padding:5px;
    margin: 5px 3px;
text-decoration: none; 
border-radius: 5px;   
   
}
.options a:hover{
    color:white;
    background-color: rgb(6, 6, 197);
}

.show{
    display: flex;

}